.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.logo {
    font-weight: bold;
    color: purple;
}

.text {
    font-size: 12px;
}