.container {
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;   
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addBtn {
    padding: 10px;
    background-color: var(--buttons);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

.product {
    display: flex;
    gap: 10px;
    align-items: center;
}

.productImage {
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    gap: 10px;
    display: flex;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    border: none;
}

.viewbtn {
    background-color: turquoise;
}

.deletebtn {
    background-color: red;
}

